language: python
python:
  - "3.6"
  - "3.7-dev"

install:
  - pip install -e .
  - pip install -e ".[testing]"
  - pip install flake8

script:
  - flake8 tastyworks/
  - pytest tests/

deploy:
  provider: pypi
  user: ununoctium87
  password:
    secure: l3/3rMztP6fydslPQ9uNtdQJGLUqmzcvmIoEsTjoGWUHEBkcFKYojbho2IlVF8xabKnAmm1sauH1lkZimzxz1y/70jEBfSovFcyMgQgpMKBJD3vBxwyo3kUREfE0ItLbPDOug7j1SqHsvjoDbqMnHoSOKM31QOG//glm1OKiDlln0/4yQ8zSHTAbtCf8CbCmNuqflLdvqhdDViAdNZI4eWvFKbNkek75X316Csr86XhaZMLcmUvlAU4+acp6pZO545+Bj2b+muE+wAFVHK+cH+4iQcKnMsbFOcp+51aGZoT7CtqtcVTN9lTG7HGArGlDTAdtQGuX2FPOQ+VwLD8h3FseV6N/JcrWxhUVpU2mxS65cwUMqbGAvnu3QGBzWj7SiL/sbuKIvHQqEQYgNOumXb3QXRq1s97aew5ttc6Y1b+xn3ybXBc7YS64z1ujMcvbd5aakcZgXV/RVwBk60ddjUksyBvr9hAjcHsptcVAkOsrC7obBzrBuu/qOkZ3swYV24UMuL2sQL1DfebGv2CTB/pqzIjRb8Y0yGNnx4PAkeufyDJ1rYh2Vz7jlsiyTh5zXgWVQ/30RBY1QzUX/2a2ItBIZgzEHZwuqg14cZEnpA14vZBVHu8zF8q3hO6TTquisQWDvIdRQE4BDUMN5+VgRmGdsDOTDZgUKCjWwE7a+hc=
  on:
    tags: true
    branch: master
